@import "normalize";
@import "responsive";

////////////////////// COLORS
$white: white;
$black: black;
$blue:rgba(92, 136, 255, 0.904);
$red: rgba(255, 68, 68, 0.808);
$lightgray: rgb(206, 205, 205);
$mediumgray: rgba(110, 110, 110, 0.699);
$darkgray: rgba(32, 32, 32, 0.459);

///////////////////// COLOR ASSIGNMENTS
$char-1-color: $blue;
$char-2-color: $red;
$button-text-color: $white;
$button-bg-color: $darkgray;

$game-screen-color: $mediumgray;
$log-panel-color: $lightgray;

////////////////////// Font Sizes
$big: 2 rem;
$medium: 1.4rem;
$small: 1rem;


body {
    background-image: url("../img/bg.jpg");
}

body > * {
    font-family: 'Noto Sans', sans-serif;
}

.maingrid {
    display: grid;
    max-width: 70vw;
    height: 90vh;
    margin: auto;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 30px;
    margin-top: 30px;
    section {
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        row-gap: 20px;
        column-gap: 20px;
        img {
            border-radius: 10px;
            width: 100%;
        }
    }
}

.char-1 {
    background-color: $char-1-color;
}

.char-2 {
    background-color: $char-2-color;
}

/////////////////////// MIDDLE PANE
.game-screen {
    background-color: $game-screen-color;
    .turn {
        font-size: $big;
        text-align: center;
    }
    .log-panel {
        height: 200px;
        padding: 20px;
        background-color: $log-panel-color;
        overflow: scroll;
    }
}

///////////// BUTTONS
.buttons div, .start-fight {
    width: 100%;
    color: $button-text-color;
    font-size: $medium;
    text-transform: uppercase;
    text-align: center;
    background-color: $button-bg-color;
    border-radius: 5px;
    margin: 7px 0px;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
        background-color: lighten($darkgray, 60);
    }
}