@import "normalize";
@import "responsive";

////////////////////// COLORS
$white: white;
$black: black;
$blue:rgba(92, 136, 255, 0.904);
$red: red;
$green: rgb(49, 179, 49);
$lightyellow: rgb(235, 203, 145);
$alpha-red: rgba(255, 68, 68, 0.808);
$lightgray: rgb(206, 205, 205);
$mediumgray: rgba(110, 110, 110, 0.699);
$darkgray: rgba(32, 32, 32, 0.459);

///////////////////// COLOR ASSIGNMENTS
$char-1-color: $blue;
$char-2-color: $alpha-red;
$button-text-color: $white;
$button-bg-color: $darkgray;

$game-screen-color: $mediumgray;
$game-screen-text: $white;
$log-panel-color: $lightgray;

$hp-bar-red: $red;
$hp-bar-green: $green;
$hp-bar-border: $lightyellow;

////////////////////// Font Sizes
$big: 1.8rem;
$medium: 1.4rem;
$regular: 1.2rem;
$small: .9rem;

///////////////////// General
body {
  background-image: url("../img/bg.jpg");
}

body > * {
  font-family: 'Noto Sans', sans-serif;
}

.maingrid {
  display: -ms-grid;
  display: grid;
  max-width: 70vw;
  height: 90vh;
  margin: auto;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 30px;
}

.maingrid section {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.maingrid section img {
  border-radius: 10px;
  width: 100%;
}

.maingrid .char-1, .maingrid .char-2 {
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.maingrid .game-screen {
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.char-1 {
  background-color: rgba(92, 136, 255, 0.904);
}

.char-2 {
  background-color: rgba(255, 68, 68, 0.808);
}

.char-info {
  font-size: 1.2rem;
}

////////////// Health Bar

.char-1-hp-max-bar, .char-2-hp-max-bar {
    background-color: $hp-bar-red;
    border: 2px solid $hp-bar-border;
    height: 20px;
    position: relative;
}
.char-1-hp-bar, .char-2-hp-bar {
    background-color: $hp-bar-green;
    width: 40%;
    height: 16px;
    position: absolute;
    top: -10px;
}

////////////// Correct Width of Input Name Field
input {
    width: 100%;
}

.char-1-hp-max-bar, .char-2-hp-max-bar {
  background-color: red;
  border: 2px solid #ebcb91;
  height: 20px;
  position: relative;
}

.char-1-hp-bar, .char-2-hp-bar {
  background-color: #31b331;
  width: 40%;
  height: 16px;
  position: absolute;
  top: -10px;
}

input {
  width: 100%;
}

.game-screen {
  background-color: rgba(110, 110, 110, 0.699);
}

.game-screen .turn, .game-screen .start-fight {
  font-size: 1.8rem;
  text-align: center;
  color: white;
}

.game-screen .log-panel {
  height: 200px;
  padding: 20px;
  background-color: #cecdcd;
  overflow: scroll;
  font-size: 0.9rem;
}

.buttons div, .start-fight {
  width: 100%;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.459);
  border-radius: 5px;
  margin: 7px 0px;
  padding: 5px 10px;
  cursor: pointer;
}

.buttons div:hover, .start-fight:hover {
  background-color: rgba(185, 185, 185, 0.459);
}

select {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */